.DS_Store
# Ignore .env files
.env
# Ignore secrets.py
secrets.py

#Exclude python virtual environment
Backend/env
#Exclude email credetials
email.env
#Ignore IDE settings
.idea
#Ignore pycache
__pycache__/